<mat-toolbar class="primary-toolbar" style="display: flex;justify-content: space-between;">
    <h1>{{this.name}}</h1>
    <div style="display: flex;justify-content: flex-end;">
        <button *ngIf="this.lockable" mat-icon-button (click)="this.parent.lock()" [matTooltip]="this.name + ' (ent)sperren'" [matTooltipShowDelay]="800"
            [disabled]="this.disabled">
            <mat-icon *ngIf="this.parent.pub?.locked">lock</mat-icon>
            <mat-icon *ngIf="!this.parent.pub?.locked">lock_open</mat-icon>
        </button>
        <div *ngIf="!this.disabled; else else1">
            <button mat-icon-button (click)="this.parent.action()" [matTooltip]="this.name + ' speichern'"
                [matTooltipShowDelay]="800"><mat-icon>save</mat-icon></button>
            <button mat-icon-button (click)="this.parent.abort()" matTooltip="Abbrechen"
                [matTooltipShowDelay]="800"><mat-icon>close</mat-icon></button>
        </div>
        <ng-template #else1>
            <button mat-icon-button (click)="this.parent.close()" matTooltip="Schließen"
                [matTooltipShowDelay]="800"><mat-icon>close</mat-icon></button>
        </ng-template>
    </div>
</mat-toolbar>