<div *ngIf="this.loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<div class="jumbotron" [hidden]="this.loading">
  <div class="container-fluid">

    <mat-toolbar color="accent" style="display: flex;justify-content: space-between;">
      <span>
        <h4 *ngIf="!this.icon">
          <mat-icon>book</mat-icon> {{name}} ({{ this.dataSource.data.length }})
        </h4>
        <h4 *ngIf="this.icon">
          <mat-icon>{{this.icon}}</mat-icon> {{name}} ({{ this.dataSource.data.length }})
        </h4>
      </span>
      <span>
        <div mat-dialog-actions align="end" style="display:flex; flex-flow: row wrap;gap: 5px;">
          <ng-container *ngFor="let button of this.parent.buttons">
            <ng-container *ngIf="button.sub_buttons && button.sub_buttons.length > 0">
              <button mat-raised-button [matMenuTriggerFor]="buttonMenu" [disabled]="this.isButtonDisabled(button)" [matTooltip]="button.tooltip"
              [matTooltipShowDelay]="800">{{button.title}}<mat-icon>
                  keyboard_arrow_down</mat-icon></button>
              <mat-menu #buttonMenu="matMenu" xPosition="before">
                <ng-container *ngFor="let sub_button of button.sub_buttons;let idx = index">
                  <button mat-menu-item (click)="sub_button.action_function()" [disabled]="this.isButtonDisabled(sub_button)">{{sub_button.title}}</button>
                </ng-container>
              </mat-menu>
            </ng-container>
            <ng-container *ngIf="(!button.sub_buttons || button.sub_buttons.length === 0) && button.icon">
              <button mat-raised-button (click)="button.action_function()" [disabled]="this.isButtonDisabled(button)" [matTooltip]="button.tooltip"
              [matTooltipShowDelay]="800"><mat-icon>{{button.title}}</mat-icon></button>
            </ng-container>
            <ng-container *ngIf="(!button.sub_buttons || button.sub_buttons.length === 0) && !button.icon">
              <button mat-raised-button (click)="button.action_function()" [disabled]="this.isButtonDisabled(button)" [matTooltip]="button.tooltip"
              [matTooltipShowDelay]="800">{{button.title}}</button>
            </ng-container>
          </ng-container>
          <button mat-raised-button (click)="this.add()" [disabled]="!this.hasRole(['writer','admin'])">Hinzufügen</button>
          <button mat-raised-button (click)="this.delete()" [disabled]="!this.hasRole(['writer','admin'])">Löschen</button>
          <button mat-raised-button *ngIf="this.serviceClass.combine" (click)="this.combine()" [disabled]="!this.hasRole(['writer','admin'])">Zusammenführen</button>
        </div>
      </span>
    </mat-toolbar>

  </div>


  <div class="container-fluid">
    <div style="display: flex; flex-flow: row wrap; justify-content: space-between;">
      <div style="display: flex; flex-direction: row;justify-content: flex-start; gap: 10px">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="filterValue" (keyup)="doFilter(filterValue)" placeholder="Filter">
          <button type="button" *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear"
            (click)="filterValue = '';doFilter(filterValue);">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="columnFilter" (selectionChange)="filterColumn()">
            <mat-option [value]="null">Alle Felder</mat-option>
            <mat-option *ngFor="let header of this.headers" [value]="header.colName">
              {{ header.colTitle }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <form [formGroup]="pageForm" (ngSubmit)="goToPage()">
          <mat-form-field class="pageInput">
            <input matInput type="text" placeholder="Seitenzahl" formControlName="pageNumber"
              [ngClass]="{ 'is-invalid': this.pageForm.controls.pageNumber.value != '' && this.pageForm.controls.pageNumber.errors }">
            <div *ngIf="this.pageForm.controls.pageNumber.errors" class="invalid-feedback">
              <div *ngIf="this.pageForm.controls.pageNumber.errors">Bitte geben Sie eine gültige Zahl ein</div>
            </div>
            <button matSuffix mat-icon-button type="submit" matTooltip="Zur Seite" [matTooltipShowDelay]="300">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-form-field>

        </form>
        <mat-paginator #paginatorTop [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons (page)="handlePageTop($event)">
        </mat-paginator>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table class="table" [class.table-wide]="this.wide" [dataSource]="this.dataSource" matSort
        (matSortChange)="announceSortChange($event)" [matSortActive]="headerNames[this.id_col]" matSortDirection="asc"
        matSortDisableClear>

        <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef style="width: 10px;">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" color="accent">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox style="padding-top: 8px" (click)="$event.stopPropagation()"
              (change)="this.selection.toggle(row)" [checked]="this.selection.isSelected(row)"
              color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef style="width: 15px;">
          </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="this.edit(row)" matTooltip="Element untersuchen"
              [matTooltipShowDelay]="800">
              <mat-icon *ngIf="((this.tokenService.hasRole('writer') || this.tokenService.hasRole('admin')) && !row.locked); else else1">edit</mat-icon>
              <ng-template #else1><mat-icon>remove_red_eye</mat-icon></ng-template>
            </button>
          </td>
        </ng-container>

        <ng-container *ngFor="let col of headers;let idx = index">
          <ng-container [matColumnDef]="col.colName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.colTitle}} </th>
            <ng-container *ngIf="!col.type || col.type === 'string'">
              <td mat-cell *matCellDef="let d" [innerText]="truncString(d[col.colName], this.trunc, col)"
                [matTooltip]="d[col.colName] && d[col.colName].length > this.trunc? d[col.colName] : null"
                [matTooltipShowDelay]="800" [matTooltipHideDelay]="500"></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'number'">
              <td mat-cell *matCellDef="let d" [innerText]="format(d[col.colName])"></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'pubs'">
              <td mat-cell *matCellDef="let d">
                {{d[col.colName]}} 
                <button mat-icon-button matTooltip="Publikationen anzeigen" (click)="this.showPubs(d['id'], col.colName)"
                [matTooltipShowDelay]="800" *ngIf="d[col.colName]!=0"> <mat-icon>remove_red_eye</mat-icon></button>
                <button mat-icon-button disabled *ngIf="d[col.colName]==0"></button>
              </td>
            </ng-container>
            <ng-container *ngIf="col.type === 'euro'">
              <td mat-cell *matCellDef="let d" [innerText]="formatEUR(d[col.colName])"></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'datetime'">
              <td mat-cell *matCellDef="let d" [innerText]="d[col.colName] | date :'dd.MM.yyyy HH:mm'"></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'date'">
              <td mat-cell *matCellDef="let d" [innerText]="d[col.colName] | date :'dd.MM.yyyy'"></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'boolean'">
              <td mat-cell *matCellDef="let d">
                <mat-icon *ngIf="d[col.colName]">check_box</mat-icon>
                <mat-icon *ngIf="!d[col.colName]">check_box_outline_blank</mat-icon>
              </td>
            </ng-container>
            <ng-container *ngIf="col.type === 'doi'">
              <td mat-cell *matCellDef="let d" [innerHTML]="doiHTML(d[col.colName])"></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'link'">
              <td mat-cell *matCellDef="let d"><a [href]="d[col.colName]" class="link-secondary" target="_blank">{{d[col.colName]}}</a></td>
            </ng-container>
            <ng-container *ngIf="col.type === 'authors'">
              <td mat-cell *matCellDef="let d" [innerHTML]="formatAuthors(d)"></td>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerNames; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: headerNames;"></tr>
      </table>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <mat-paginator #paginatorBottom [pageSize]="10" showFirstLastButtons (page)="handlePageBottom($event)">
      </mat-paginator>
  </div>
  </div>
</div>