<div class="container-fluid" style="padding: 5px;">
    <h4 class="center" style="background-color: lightgrey;">
        Bitte wählen Sie aus, wie mit der Dublette verfahren werden soll
    </h4>
    <table *ngIf="!this.loading">
        <tr>
            <th>Feld</th>
            <th>Entität 1</th>
            <th>Entität 2</th>
        </tr>
        <tr *ngFor="let attr of this.att_list">
            <td [style]="this.getStyle(attr)">{{attr}}</td>
            <td>{{this.getAttribute(ent1, attr)}}</td>
            <td>{{this.getAttribute(ent2, attr)}}</td>
        </tr>
    </table>
    <br />
    <div style="display: flex;justify-content: space-between;">
        <div *ngIf="!this.soft_deleted" style="display: flex; gap: 10px">
            <button mat-raised-button class="accent-button" (click)="action(null)">Als nicht zutreffend
                kennzeichnen</button>
            <button mat-raised-button class="primary-button" (click)="action(0)">In Entität 1 zusammenführen</button>
            <button mat-raised-button class="primary-button" (click)="action(1)">In Entität 2 zusammenführen</button>
        </div>
        <div *ngIf="this.soft_deleted" style="display: flex; gap: 10px">
            <button mat-raised-button class="accent-button" (click)="restore()">Dublette wiederherstellen</button>
        </div>
        <button mat-raised-button class="secondary-button" (click)="abort()">Abbrechen</button>

    </div>
</div>