<mat-toolbar color="primary"><h1 mat-dialog-title style="color:white">Vertrag</h1></mat-toolbar>
<mat-dialog-content>
    <form style="display: flex; flex-direction: column;justify-content: space-evenly;" [formGroup]="form"
        (ngSubmit)="this.action()">
        <mat-form-field *ngIf="this.contract?.id" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [type]="'number'" placeholder="ID" formControlName="id" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Bezeichnung</mat-label>
            <input matInput placeholder="Bezeichnung" formControlName="label"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Verlag</mat-label>
            <input type="text"
                placeholder="Auswählen oder Eingeben"
                matInput
                [matAutocomplete]="autoPublisher"
                formControlName="publ"
                (keydown.enter)="addPublisher($event.target)"
                #input_publ>
            <button type="button" matSuffix mat-icon-button (click)="addPublisher(input_publ)" matTooltip="Element bearbeiten"
            [matTooltipShowDelay]="800">
                <mat-icon *ngIf="!this.disabled; else else2">edit</mat-icon>
                <ng-template #else2><mat-icon>remove_red_eye</mat-icon></ng-template>
            </button>
            <mat-autocomplete #autoPublisher="matAutocomplete" (optionSelected)="selectedPubl($event)">
            <mat-option *ngFor="let publisher of this.filtered_publishers | async" [value]="publisher.label">
                {{publisher.label}} 
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Startdatum</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="start_date">
            <mat-hint>T.M.JJJJ</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 [startAt]="this.contract?.start_date? this.contract.start_date : today"
                startView="year" color="accent"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Enddatum</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="end_date">
            <mat-hint>T.M.JJJJ</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 [startAt]="this.contract?.end_date? this.contract.end_date : today"
                startView="year" color="accent"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Interne Nummer</mat-label>
            <input matInput placeholder="Interne Nummer" formControlName="internal_number"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Rechnungsbetrag</mat-label>
            <input type="number" matInput placeholder="Rechnungsbetrag" formControlName="invoice_amount"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Rechnungsinformationen</mat-label>
            <textarea matInput placeholder="Rechnungsinformationen" formControlName="invoice_information"> </textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Zweitveröffentlichungsoption</mat-label>
            <textarea matInput placeholder="Zweitveröffentlichungsoption" formControlName="sec_pub"> </textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Gold-Option</mat-label>
            <textarea matInput placeholder="Gold-Option" formControlName="gold_option"> </textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Verifikationsmethode</mat-label>
            <textarea matInput placeholder="Verifikationsmethode" formControlName="verification_method"> </textarea>
        </mat-form-field>

        Identifikatoren
        <table *ngIf="this.contract?.identifiers && this.contract.identifiers.length>0" mat-table
            [dataSource]="this.contract.identifiers">
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Art </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Wert </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                        (click)="this.deleteId(element)"
                        matTooltip="Identifikator löschen" [hidden]="this.disabled"><mat-icon>delete</mat-icon></button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <form [formGroup]="idForm" style="display: flex;gap:5px">
            <mat-form-field appearance="fill">
                <mat-label>Art</mat-label>
                <input matInput placeholder="Art" formControlName="type" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Wert</mat-label>
                <input matInput placeholder="Wert" formControlName="value" />
            </mat-form-field>
            <button matSuffix mat-icon-button type="button" (click)="this.addId()"
                matTooltip="Identifikator hinzufügen" [hidden]="this.disabled"><mat-icon>add</mat-icon></button>
        </form>

        <div *ngIf="!this.disabled; else else1" class="form-group" align="center">
            <button mat-raised-button type="submit" color="primary" class="btn-primary">Vertrag
                speichern</button>&nbsp;
            <button mat-raised-button type="reset" color="accent" class="btn-primary"
                (click)="this.abort()">Abbrechen</button>
        </div>
        <ng-template #else1>
            <div class="form-group" align="center">
                <button mat-raised-button type="reset" color="primary" class="btn-primary"
                    (click)="this.close()">Schließen</button>
            </div>
        </ng-template>
    </form>
</mat-dialog-content>