<mat-toolbar color="primary"><h1>Institut auswählen</h1></mat-toolbar>
<div style="padding: 5px">
    <form style="display: flex; flex-direction: column;justify-content: space-evenly;" [formGroup]="form"
        (ngSubmit)="this.action()">

        <mat-form-field appearance="fill">
            <mat-label>Affiliationsangabe</mat-label>
            <textarea matInput formControlName="affiliation"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Institut d. Autor*in</mat-label>
            <mat-select [(value)]="this.institute" [compareWith]="compare" [disabled]="this.disabled">
                <mat-option [value]="null">- keine Angabe -</mat-option>
                <mat-option *ngFor="let inst of this.author?.institutes"
                    [value]="inst">{{inst.label}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sonstiges Institut</mat-label>
            <input type="text"
            placeholder="Auswählen oder Eingeben"
            matInput
            [matAutocomplete]="autoPublisher"
            formControlName="inst"
            (keydown.enter)="addInst($event.target)"
            #input_publ>
        <mat-autocomplete #autoPublisher="matAutocomplete" (optionSelected)="selectedInst($event)">
        <mat-option *ngFor="let inst of this.filtered_institutes | async" [value]="inst.label">
            {{inst.label}} ({{inst.short_label}}) 
        </mat-option>
        </mat-autocomplete>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" class="btn-primary">Institut
            auswählen</button>&nbsp;
        <button mat-raised-button type="reset" color="primary" class="btn-primary"
            (click)="this.abort()">Abbrechen</button>
    </form>
</div>