<app-breadcrump [path]="getLink()" [label]="getLabel()"></app-breadcrump>
<div style="display:flex;flex-flow: column nowrap;gap: 10px">
  <div>
    <h1 *ngIf="!this.costs">Anzahl Publikationen</h1>
    <h1 *ngIf="this.costs">Kosten für Publikationsrechnungen</h1>
  </div>
<div style="display:flex;flex-flow: row wrap;justify-content: space-between;gap: 10px;">
  <div>
    <button mat-raised-button class="primary-button" *ngIf="!this.costs" (click)="this.loadData(true)">Zu Kosten
      wechseln</button>
    <button mat-raised-button class="primary-button" *ngIf="this.costs" (click)="this.loadData(false)">Zu Anzahl
      wechseln</button>
  </div>
  <div style="display:flex;flex-flow: row wrap;gap: 10px;">
    <button mat-raised-button [class.primary-button]="this.chartDisplayMode === 'pie'"
      [class.secondary-button]="this.chartDisplayMode !== 'pie'" (click)="setChartDisplayMode('pie')">Pie</button>
    <button mat-raised-button [class.primary-button]="this.chartDisplayMode === 'treemap'"
      [class.secondary-button]="this.chartDisplayMode !== 'treemap'" (click)="setChartDisplayMode('treemap')">Treemap</button>
  </div>
  <mat-card [hidden]="this.hidden()">
    <mat-card-header>
      Filter aktiv
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; flex-flow: row wrap;justify-content: flex-end;gap: 5px">
        <mat-chip-listbox *ngFor="let elem of this.filterChips">
          <mat-chip-option (removed)="removeFilter(elem)" selectable="false">
            {{elem['text']}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-option>
      </mat-chip-listbox>
        <button mat-raised-button  class="secondary-button" (click)="this.resetFilter()">Alle Filter zurücksetzen</button>
      </div>
    </mat-card-content>
  </mat-card>
  
</div>
<div style="display: flex;flex-flow: row wrap;">
  <div echarts [options]="eChartOptionsLocked" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     class="chart"></div>

  <div echarts [options]="eChartOptions" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     class="chart"></div>

  <div echarts [options]="eChartOptionsInstitute" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     (chartLegendSelectChanged)="onChartLegendSelectChanged('Institut', $event)"
     class="chart"></div>
  <div echarts [options]="eChartOptionsOACat" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     (chartLegendSelectChanged)="onChartLegendSelectChanged('OA-Kategorie', $event)"
     class="chart"></div>
  <div echarts [options]="eChartOptionsPublisher" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     (chartLegendSelectChanged)="onChartLegendSelectChanged('Verlag', $event)"
     class="chart"></div>
  <div echarts [options]="eChartOptionsPubType" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     (chartLegendSelectChanged)="onChartLegendSelectChanged('Publikationsart', $event)"
     class="chart"></div>
  <div echarts [options]="eChartOptionsContract" (chartClick)="onChartClick($event)"
     (chartContextMenu)="onChartContextMenu($event)"
     (chartLegendSelectChanged)="onChartLegendSelectChanged('Vertrag', $event)"
     class="chart"></div>

</div>
</div>
