<mat-toolbar color="primary">
    <h1 mat-dialog-title style="color:white">Publikation</h1>
</mat-toolbar>
<div *ngIf="this.loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
</div>
<mat-dialog-content [hidden]="this.loading">
    <form [formGroup]="form" (ngSubmit)="this.action()" align="center" (keydown)="enter($event)"
        (keyup)="escape($event)" style="display: flex; flex-direction: column;justify-content: space-evenly;">

        <div style="display: flex;flex-direction: row;justify-content: space-between;">
            <mat-form-field [hidden]="!this.edit" style="max-width: 150px;">
                <mat-label>ID</mat-label>
                <input matInput [type]="'number'" placeholder="ID" formControlName="id" />
            </mat-form-field>
            <mat-form-field [class]="'status-'+this.form.get('status').value" style="max-width: 150px;">
                <mat-label>Status</mat-label>
                <input matInput [type]="'number'" placeholder="Status" formControlName="status" />
            </mat-form-field>
            <button type="button" (click)="this.lock()" mat-icon-button class="form-group col-md-1"
                matTooltip="Publikation (ent)sperren" [matTooltipShowDelay]="800">
                <mat-icon *ngIf="this.pub?.locked">lock</mat-icon>
                <mat-icon *ngIf="!this.pub?.locked">lock_open</mat-icon>
            </button>
        </div>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Titel</mat-label>
            <textarea matInput [type]="'text'" placeholder="Titel" formControlName="title"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>DOI</mat-label>
            <input matInput [type]="'text'" placeholder="DOI" formControlName="doi" />
            <a *ngIf="this.form.get('doi').value" matSuffix mat-icon-button
                [href]="'https://dx.doi.org/'+this.form.get('doi').value" target="_blank" matTooltip="Link folgen"
                [matTooltipShowDelay]="800">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Link</mat-label>
            <input matInput [type]="'text'" placeholder="Link" formControlName="link" />
            <a *ngIf="this.form.get('link').value" matSuffix mat-icon-button [href]="this.form.get('link').value"
                target="_blank" matTooltip="Link folgen" [matTooltipShowDelay]="800">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </mat-form-field>

        <mat-accordion multi="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Autoreninformationen
                    </mat-panel-title>
                    <mat-panel-description>
                        {{this.getAuthorInfo()}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Autor*innen</mat-label>
                    <textarea matInput [type]="'text'" placeholder="Autor*innen" formControlName="authors"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Herausgeber*innen</mat-label>
                    <textarea matInput [type]="'text'" placeholder="Herausgeber*innen"
                        formControlName="editors"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Autoren der Institution (corr. Autoren markiert):</mat-label>
                    <mat-chip-grid #author_list>
                        <mat-chip-row [removable]="true" *ngFor="let authorPub of this.pub?.authorPublications"
                            (removed)="removeAuthor(authorPub.author)" color="primary"
                            (click)="switchCorresponding(authorPub)" [highlighted]="authorPub.corresponding">
                            {{authorPub.author.last_name}}, {{authorPub.author.first_name}}
                            <button matChipRemove *ngIf="!this.pub?.locked">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input matInput #authorInput formControlName="authors_inst" placeholder="Autor*in hinzufügen"
                        [matAutocomplete]="auto" [matChipInputFor]="author_list"
                        (matChipInputTokenEnd)="addAuthor($event)" [matChipInputSeparatorKeyCodes]="[]"
                        (keydown.enter)="addAuthor($event.target)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let author of filteredAuthors | async"
                            [value]="author.last_name+', '+author.first_name">
                            {{author.last_name}}, {{author.first_name}} <ng-container *ngIf="author.orcid">
                                ({{author.orcid}})
                            </ng-container>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Beteiligte Institute (corr. markiert):</mat-label>
                    <mat-chip-grid #inst_list>
                        <mat-chip-row [removable]="true" *ngFor="let authorPub of this.pub?.authorPublications"
                            color="primary" [highlighted]="authorPub.corresponding" (click)="editInst(authorPub)">
                            {{authorPub.institute?.short_label? authorPub.institute?.short_label :
                            authorPub.institute?.label}}
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input matInput [matChipInputFor]="inst_list" disabled hidden>
                </mat-form-field>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bibliografische Informationen
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Publikationstyp</mat-label>
                    <mat-select [(value)]="this.pub_type" [disabled]="this.disabled">
                        <mat-option *ngFor="let pub_type of this.pub_types"
                            [value]="pub_type.id">{{pub_type.label}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Größere Einheit</mat-label>
                    <input type="text" placeholder="Auswählen oder Eingeben" matInput [matAutocomplete]="autoGe"
                        formControlName="ge" (keydown.enter)="addGreaterEntity($event.target)" #input_ge>
                    <button type="button" matSuffix mat-icon-button (click)="addGreaterEntity(input_ge)"
                        matTooltip="Element bearbeiten" [matTooltipShowDelay]="800">
                        <mat-icon *ngIf="!this.disabled; else else2">edit</mat-icon>
                        <ng-template #else2><mat-icon>remove_red_eye</mat-icon></ng-template>
                    </button>
                    <mat-autocomplete #autoGe="matAutocomplete" (optionSelected)="selectedGE($event)">
                        <mat-option *ngFor="let greater_entity of this.filtered_greater_entities | async"
                            [value]="greater_entity.label">
                            {{greater_entity.label}}
                            <ng-container *ngIf="greater_entity.identifiers && greater_entity.identifiers.length > 0">
                                (<ng-container
                                    *ngFor="let ide of greater_entity.identifiers">{{ide.value}}&nbsp;</ng-container>)
                            </ng-container>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-checkbox formControlName="peer_reviewed">Peer-reviewed?</mat-checkbox>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Verlag</mat-label>
                    <input type="text" placeholder="Auswählen oder Eingeben" matInput [matAutocomplete]="autoPublisher"
                        formControlName="publ" (keydown.enter)="addPublisher($event.target)" #input_publ>
                    <button type="button" matSuffix mat-icon-button (click)="addPublisher(input_publ)"
                        matTooltip="Element bearbeiten" [matTooltipShowDelay]="800">
                        <mat-icon *ngIf="!this.disabled; else else3">edit</mat-icon>
                        <ng-template #else3><mat-icon>remove_red_eye</mat-icon></ng-template>
                    </button>
                    <mat-autocomplete #autoPublisher="matAutocomplete" (optionSelected)="selectedPubl($event)">
                        <mat-option *ngFor="let publisher of this.filtered_publishers | async"
                            [value]="publisher.label">
                            {{publisher.label}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Publikationsdatum</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="pub_date">
                    <mat-hint>T.M.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="this.pub?.pub_date? this.pub.pub_date : today" startView="year"
                        color="accent"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Publikationsdatum (print)</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="pub_date_print">
                    <mat-hint>T.M.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [startAt]="this.pub?.pub_date_print? this.pub.pub_date_print : today"
                        startView="year" color="accent"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Datum der Akzeptanz</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="pub_date_accepted">
                    <mat-hint>T.M.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 [startAt]="this.pub?.pub_date_accepted? this.pub.pub_date_accepted : today"
                        startView="year" color="accent"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Datum der Einreichung</mat-label>
                    <input matInput [matDatepicker]="picker4" formControlName="pub_date_submitted">
                    <mat-hint>T.M.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4
                        [startAt]="this.pub?.pub_date_submitted? this.pub.pub_date_submitted : today" startView="year"
                        color="accent"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Sprache</mat-label>
                    <mat-select [(value)]="this.language" [disabled]="this.disabled">
                        <mat-option *ngFor="let lang of this.langs" [value]="lang.id">{{lang.label}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Zitationsangabe</mat-label>
                    <input matInput [type]="'text'" placeholder="Zitationsangabe" formControlName="citation" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Seitenzahl</mat-label>
                    <input matInput [type]="'number'" placeholder="Seitenzahl" formControlName="page_count" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Abstract</mat-label>
                    <textarea matInput [type]="'text'" placeholder="Abstract" formControlName="abstract"></textarea>
                </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Open-Access-Informationen
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>OA-Kategorie</mat-label>
                    <mat-select [(value)]="this.oa_cat" [disabled]="this.disabled">
                        <mat-option *ngFor="let oa_cat of this.oa_categories"
                            [value]="oa_cat.id">{{oa_cat.label}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Zweitveröffentlichung</mat-label>
                    <textarea matInput [type]="'text'" placeholder="Zweitveröffentlichung"
                        formControlName="second_pub"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Ist OA (lt. Unpaywall)</mat-label>
                    <input matInput [type]="'text'" placeholder="Ist OA" formControlName="is_oa" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>OA-Status (lt. Unpaywall)</mat-label>
                    <input matInput [type]="'text'" placeholder="OA-Status" formControlName="oa_status" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Journal OA (lt. Unpaywall)</mat-label>
                    <input matInput [type]="'text'" placeholder="Journal OA" formControlName="is_journal_oa" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Beste OA Quelle (lt. Unpaywall)</mat-label>
                    <input matInput [type]="'text'" placeholder="Beste OA Quelle" formControlName="best_oa_host" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Beste OA Lizenz (lt. Unpaywall)</mat-label>
                    <mat-select formControlName="best_oa_license">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let value of this.licenses" [value]="value">{{value}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Finanzielle Informationen
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Vertrag</mat-label>
                    <input type="text" placeholder="Auswählen oder Eingeben" matInput [matAutocomplete]="autoContract"
                        formControlName="contr" (keydown.enter)="addContract($event.target)" #input_contr>
                    <button type="button" matSuffix mat-icon-button (click)="addContract(input_contr)"
                        matTooltip="Element bearbeiten" [matTooltipShowDelay]="800">
                        <mat-icon *ngIf="!this.disabled; else else4">edit</mat-icon>
                        <ng-template #else4><mat-icon>remove_red_eye</mat-icon></ng-template>
                    </button>
                    <mat-autocomplete #autoContract="matAutocomplete" (optionSelected)="selectedContr($event)">
                        <mat-option *ngFor="let contract of this.filtered_contracts | async" [value]="contract.label">
                            {{contract.label}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <ng-container
                    *ngIf="this.pub?.invoices && this.pub.invoices.length>0 && (this.tokenService.hasRole('admin')||this.tokenService.hasRole('writer')||this.tokenService.hasRole('reader'))">Rechnungen</ng-container>
                <table *ngIf="this.pub?.invoices && this.pub.invoices.length>0 && (this.tokenService.hasRole('admin')||this.tokenService.hasRole('writer')||this.tokenService.hasRole('reader'))" mat-table
                    [dataSource]="this.pub.invoices">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Rechnungsdatum </th>
                        <td mat-cell *matCellDef="let element"> {{element.date | date :'dd.MM.YYYY'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="costs">
                        <th mat-header-cell *matHeaderCellDef> Kosten </th>
                        <td mat-cell *matCellDef="let element"> {{getCosts(element)}} EUR </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                (click)="this.addInvoice(element)"
                                matTooltip="Rechnung bearbeiten"><mat-icon>edit</mat-icon></button> </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                (click)="this.deleteInvoice(element)" [disabled]="this.disabled"
                                matTooltip="Rechnung löschen"><mat-icon>delete</mat-icon></button> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <button matSuffix mat-icon-button type="button" (click)="this.addInvoice()"
                    matTooltip="Rechnung hinzufügen" [hidden]="this.disabled"><mat-icon>add</mat-icon></button>

                <div class="row justify-content-md-center">
                    <div class="form-group col-md-12">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Förderer</mat-label>
                            <mat-chip-grid #funder_list>
                                <mat-chip-row [removable]="true" *ngFor="let funder of this.pub?.funders"
                                    (removed)="removeFunder(funder)">
                                    {{funder.label}}
                                    <button matChipRemove *ngIf="!this.pub?.locked">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            </mat-chip-grid>
                            <input matInput #funderInput formControlName="funder" placeholder="Föderer hinzufügen"
                                [matAutocomplete]="autoFunder" [matChipInputFor]="funder_list"
                                (matChipInputTokenEnd)="addFunder($event)" [matChipInputSeparatorKeyCodes]="[]"
                                (keydown.enter)="addFunder($event.target)">
                            <mat-autocomplete #autoFunder="matAutocomplete" (optionSelected)="selectedFunder($event)">
                                <mat-option *ngFor="let funder of filteredFunders | async" [value]="funder.label">
                                    {{funder.label}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Meta-Informationen
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Weitere Informationen</mat-label>
                    <textarea matInput [type]="'text'" placeholder="Informationen"
                        formControlName="add_info"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Datenquelle</mat-label>
                    <input matInput [type]="'text'" placeholder="Datenquelle" formControlName="dataSource" />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Hinzugefügt am</mat-label>
                    <input matInput [value]="form.get('import_date').value | date: 'dd.MM.YYYY HH:mm:ss'" readonly />
                </mat-form-field>

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Geändert am</mat-label>
                    <input matInput [value]="form.get('edit_date').value | date: 'dd.MM.YYYY HH:mm:ss'" readonly />
                </mat-form-field>

                <mat-form-field [hidden]="!this.pub?.delete_date" appearance="fill" style="width: 100%;">
                    <mat-label>Soft-deleted am</mat-label>
                    <input matInput [value]="form.get('delete_date').value | date: 'dd.MM.YYYY HH:mm:ss'" readonly />
                    <button type="button" matSuffix mat-icon-button (click)="restore()"
                        matTooltip="Publikation wiederherstellen" [matTooltipShowDelay]="800">
                        <mat-icon>recycling</mat-icon>
                    </button>
                </mat-form-field>

            </mat-expansion-panel>
        </mat-accordion>


        <br />
        <div *ngIf="this.form.invalid">
            Es müssen noch weitere Pflichtfelder (Titel, Autoren und min. ein Publikationsdatum) ausgefüllt werden
        </div>
        <div *ngIf="!this.disabled; else else1" class="form-group" align="center">
            <button *ngIf="!this.edit" mat-raised-button type="submit" color="primary" class="btn-primary">Publikation
                anlegen</button>
            <button *ngIf="this.edit" mat-raised-button type="submit" color="primary" class="btn-primary">Publikation
                speichern</button>&nbsp;
            <button mat-raised-button type="reset" color="primary" class="btn-primary"
                (click)="this.abort()">Abbrechen</button>
        </div>
        <ng-template #else1>
            <div class="form-group" align="center">
                <button mat-raised-button type="reset" color="primary" class="btn-primary"
                    (click)="this.close()">Schließen</button>
            </div>
        </ng-template>

    </form>
</mat-dialog-content>