<mat-toolbar class="primary-toolbar" style="display: flex;justify-content: space-between;">
    <h1>Rechnung</h1>
    <div style="display: flex;justify-content: flex-end;">
        <div *ngIf="!this.disabled; else else1">
            <button mat-icon-button (click)="this.action()" matTooltip="Rechnung speichern"
                [matTooltipShowDelay]="800"><mat-icon>save</mat-icon></button>
            <button mat-icon-button (click)="this.abort()" matTooltip="Abbrechen"
                [matTooltipShowDelay]="800"><mat-icon>close</mat-icon></button>
        </div>
        <ng-template #else1>
            <button mat-icon-button (click)="this.close()" matTooltip="Schließen"
                [matTooltipShowDelay]="800"><mat-icon>close</mat-icon></button>
        </ng-template>
    </div>
</mat-toolbar>
<mat-dialog-content>
    <form style="display: flex; flex-direction: column;justify-content: space-evenly;" [formGroup]="form"
        (ngSubmit)="this.action()">
        <mat-form-field *ngIf="this.entity?.id" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [type]="'number'" placeholder="ID" formControlName="id" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Rechnungsnummer</mat-label>
            <input matInput placeholder="Rechnungsnummer" formControlName="number" />
        </mat-form-field>

        <app-select-entity name="Kostenstelle"
                    [disabled]="this.disabled"
                    [serviceClass]="this.ccService" [formComponent]="this.ccForm"
                    (selected)="this.setCostCenter($event)"
                    [ent]="this.entity? this.entity.cost_center : undefined"></app-select-entity>

        <mat-form-field appearance="fill">
            <mat-label>Rechnungsdatum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>T.M.JJJJ</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="this.entity?.date? this.entity.date : today" startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Buchungsdatum</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="booking_date">
            <mat-hint>T.M.JJJJ</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 [startAt]="this.entity?.booking_date? this.entity.booking_date : today"
                startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Buchungsbetrag in EUR</mat-label>
            <input matInput type="number" placeholder="Buchungsbetrag" formControlName="booking_amount" />
        </mat-form-field>

        <mat-card>
            <mat-card-header><mat-card-subtitle>Rechnungsposten</mat-card-subtitle></mat-card-header>
            <mat-card-content>

                <table *ngIf="this.entity?.cost_items && this.entity.cost_items.length>0" mat-table
                    [dataSource]="this.entity.cost_items">
                    <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef> Bezeichnung </th>
                        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cost_type">
                        <th mat-header-cell *matHeaderCellDef> Kostenart </th>
                        <td mat-cell *matCellDef="let element"> {{element.cost_type?.label}} </td>
                    </ng-container>

                    <ng-container matColumnDef="euro_value">
                        <th mat-header-cell *matHeaderCellDef> Nettobetrag in EUR </th>
                        <td mat-cell *matCellDef="let element"> {{element.euro_value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="vat">
                        <th mat-header-cell *matHeaderCellDef> MwSt. </th>
                        <td mat-cell *matCellDef="let element"> {{element.vat}} </td>
                    </ng-container>

                    <ng-container matColumnDef="orig_value">
                        <th mat-header-cell *matHeaderCellDef> Nettobetrag in Originalwährung </th>
                        <td mat-cell *matCellDef="let element"> {{element.orig_value}} {{element.orig_currency}}</td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                (click)="this.addCI(element)" [disabled]="this.disabled"
                                matTooltip="Rechnungsposten bearbeiten"><mat-icon>edit</mat-icon></button> </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                (click)="this.deleteCI(element)" [disabled]="this.disabled"
                                matTooltip="Rechnungsposten löschen"><mat-icon>delete</mat-icon></button> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>

            <mat-card-actions>
                <button matSuffix mat-icon-button type="button" (click)="this.addCI()"
                    matTooltip="Rechnungsposten hinzufügen" [hidden]="this.disabled"><mat-icon>add</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </form>
</mat-dialog-content>