
<mat-toolbar color="primary"><h1>Open-Access-Kategorie</h1></mat-toolbar>
<div style="padding: 5px">
    <form style="display: flex; flex-direction: column;justify-content: space-evenly;" [formGroup]="form"
        (ngSubmit)="this.action()">
        <mat-form-field *ngIf="this.oa_category?.id" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [type]="'number'" placeholder="ID" formControlName="id" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Bezeichnung</mat-label>
            <textarea matInput placeholder="Bezeichnung" formControlName="label"> </textarea>
        </mat-form-field>

        <mat-checkbox formControlName="is_oa">Ist Open-Access?</mat-checkbox>

        <div *ngIf="!this.disabled; else else1" class="form-group" align="center">
            <button mat-raised-button type="submit" color="primary" class="btn-primary">OA-Kategorie
                speichern</button>&nbsp;
            <button mat-raised-button type="reset" color="primary" class="btn-primary"
                (click)="this.abort()">Abbrechen</button>
        </div>
        <ng-template #else1>
            <div class="form-group" align="center">
                <button mat-raised-button type="reset" color="primary" class="btn-primary"
                    (click)="this.close()">Schließen</button>
            </div>
        </ng-template>
    </form>
</div>