<mat-dialog-content>
<div class="container-fluid" style="padding: 5px;" [formGroup]="form">
    <ng-container formArrayName="array">
        <ng-container *ngFor="let form1 of this.getControls(); let idx = index">
            <div [formGroup]="form1">
            <mat-form-field style="width: 100%;">
                <mat-label>Zu speichernder Alias</mat-label>
                <textarea matInput formControlName="alias"></textarea>
            </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
<br/>
<div style="display: flex; flex-flow: row wrap; justify-content: space-between ;">
<button mat-raised-button class="primary-button" (click)="action()">Alias hinzufügen und fortfahren</button>
<button mat-raised-button class="primary-button" (click)="abort()">Alias nicht hinzufügen und fortfahren</button>
</div>
</div></mat-dialog-content>