<mat-toolbar color="primary"><h1 mat-dialog-title style="color:white">Rechnungsposten</h1></mat-toolbar>
<mat-dialog-content>
    <form style="display: flex; flex-direction: column;justify-content: space-evenly;" [formGroup]="form"
        (ngSubmit)="this.action()">
        <mat-form-field *ngIf="this.cost_item?.id" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [type]="'number'" placeholder="ID" formControlName="id" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Bezeichnung</mat-label>
            <input matInput placeholder="Bezeichnung" formControlName="label"/>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Kostenart</mat-label>
            <mat-select [(value)]="this.cost_type">
                <mat-option *ngFor="let cc of this.costTypes"
                    [value]="cc.id">{{cc.label}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nettobetrag in EUR</mat-label>
            <input matInput type="number" placeholder="Betrag in EUR" formControlName="euro_value"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mehrwertsteuer in EUR</mat-label>
            <input matInput type="number" placeholder="Mehrwertsteuer in EUR" formControlName="vat"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Normaler Nettopreis</mat-label>
            <input matInput type="number" placeholder="Normaler Preis" formControlName="normal_price"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Nettobetrag in Originalwährung</mat-label>
            <input matInput type="number" placeholder="Betrag in Originalwährung" formControlName="orig_value"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Originalwährung</mat-label>
            <mat-select formControlName="orig_currency">
                <mat-option value="USD">USD</mat-option>
                <mat-option value="GBP">GBP</mat-option>
                <mat-option value="CHF">CHF</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="!this.disabled; else else1" align="center">
            <button mat-raised-button type="submit" color="primary" class="btn-primary">Rechnungsposten
                speichern</button>&nbsp;
            <button mat-raised-button type="reset" color="accent" class="btn-primary"
                (click)="this.abort()">Abbrechen</button>
        </div>
        <ng-template #else1>
            <div class="form-group" align="center">
                <button mat-raised-button type="reset" color="primary" class="btn-primary"
                    (click)="this.close()">Schließen</button>
            </div>
        </ng-template>
    </form>
</mat-dialog-content>