.table {
  width: 100%;
}

.table-wide {
  display: block;
  overflow-x: scroll;
}


td.mat-mdc-cell,
th.mat-mdc-header-cell {
  border-right: 1px solid lightgray;
  border-top: none;
  padding: 0.2rem;
  font-size: 12px;
}

td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type,
th.mat-mdc-header-cell:first-of-type {
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 2px;
}

.pageInput {
  width: 150px;
}

mat-toolbar {
  margin-bottom: 5px !important;
}

.numbered-sort-header {
  font-size: 10px !important;
  color: grey;
  size: 5px;
  display: flex;
}

.numbered-sort-header .top {
  margin-bottom: -8px
}

.numbered-sort-header .bottom {
  margin-top: -8px
}

.numbered-sort-header .active {
  color: white
}

.first-header-row th {
  border-bottom: none;
}

.second-header-row {
  height: 0px;
}

.second-header-row input {
  width: 100%;
}