<app-breadcrump [path]="getLink()" [label]="getLabel()"></app-breadcrump>
<div class="jumbotron">
    <div class="container-fluid">
<mat-accordion>
    <mat-expansion-panel  *ngFor="let im of this.imports, let idx = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{im.label}}
        </mat-panel-title>
        <mat-panel-description>
            Status: {{status[idx]}}
        </mat-panel-description>
      </mat-expansion-panel-header>
        <form [formGroup]="forms[im.label]" (ngSubmit)="this.startImport(im)" style="display: flex;justify-content: space-evenly;">
            <mat-form-field *ngIf="im.path !== 'csv' && im.path !== 'xls'" appearance="fill">
                <mat-label>Publikationsjahr</mat-label>
                <input matInput placeholder="Publikationsjahr" formControlName="reporting_year"/>
            </mat-form-field>
            <input *ngIf="im.path === 'csv' || im.path === 'xls'" style="display: flex; align-items: center;" type="file" #fileUpload (change)="setFile($event)">
            <div *ngIf="im.path === 'csv' || im.path === 'xls'" style="display: flex; align-items: center;">{{this.csv_format?.name}}</div>
            <button *ngIf="im.path === 'csv' || im.path === 'xls'" mat-raised-button  class="secondary-button" type="button" (click)="this.csvFormat(im.path)">Import konfigurieren</button>
            <mat-checkbox formControlName="update">Existierende Publikationen aktualisieren?</mat-checkbox>
            <button mat-raised-button [hidden]="!this.forms[im.label].get('update').value" type="button"  class="secondary-button" [disabled]="this.obs$[im.label]" (click)="configureImport(im)">Update konfigurieren</button>
            <button mat-raised-button type="submit"  class="primary-button" [disabled]="this.obs$[im.label]">Import starten</button>
        </form>
            
            <div *ngIf="this.obs$[im.label]">{{((this.obs$[im.label] | async)?.progress)*100 | number: '1.2-2'}} %</div>
            <mat-progress-bar *ngIf="this.obs$[im.label]" mode="determinate" [value]="(this.obs$[im.label] | async)?.progress*100"></mat-progress-bar>
            <table style="width: 100%;">
                <tr>
                    <th>Dateiname</th>
                    <th>Anzeigen</th>
                    <th>Löschen</th>
                </tr>
                <tr *ngFor="let rep of this.getReports(im.label)">
                    <td>{{rep}}</td>
                    <td><button mat-icon-button (click)="openLog(rep)"><mat-icon>remove_red_eye</mat-icon></button></td>
                    <td><button mat-icon-button (click)="delete(rep)"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </table>
    </mat-expansion-panel>

  </mat-accordion>
    </div></div>