<mat-card>
    <mat-card-title>Aktionen</mat-card-title>
    <mat-card-content>
        @if (isDraft) {
        <div class="action-group">
            <h3>Entwurf</h3>
            <button mat-raised-button class="warn-button" [disabled]="loading" (click)="deleteDraft()">
                <mat-icon>delete</mat-icon>
                Entwurf löschen
            </button>
            <button mat-raised-button class="primary-button" [disabled]="loading" (click)="publish()">
                <mat-icon>publish</mat-icon>
                Entwurf veröffentlichen
            </button>
            <button mat-raised-button class="primary-button" [disabled]="loading" (click)="duplicate()">
                <mat-icon>content_copy</mat-icon>
                Entwurf duplizieren
            </button>
        </div>
        }

        @if (isPublished) {
        <div class="action-group">
            <h3>Veröffentlicht</h3>
            <form [formGroup]="form">
                <mat-form-field appearance="fill">
                    <mat-label>Publikationsjahr</mat-label>
                    <input matInput placeholder="Publikationsjahr" formControlName="reporting_year" />
                </mat-form-field>
                <mat-checkbox formControlName="update">Existierende Publikationen aktualisieren?</mat-checkbox>
                <button mat-raised-button [hidden]="!this.form.get('update').value" type="button"  class="secondary-button" [disabled]="this.ob$" (click)="configureImport()">Update konfigurieren</button>
                <mat-checkbox formControlName="dry_run">Simulierter Lauf?</mat-checkbox>
            </form>
            <div *ngIf="this.ob$">{{((this.ob$ | async)?.progress)*100 | number: '1.2-2'}} %</div>
            <mat-progress-bar *ngIf="this.ob$" mode="determinate" [value]="(this.ob$ | async)?.progress*100"></mat-progress-bar>
            <button mat-raised-button class="primary-button" (click)="run()" [disabled]="this.ob$">
                <mat-icon>play_arrow</mat-icon>
                Importlauf starten
            </button>
            <button mat-raised-button class="primary-button" [disabled]="this.ob$" (click)="duplicate()">
                <mat-icon>content_copy</mat-icon>
                Als neuen Entwurf duplizieren
            </button>
            <button mat-raised-button class="warn-button" [disabled]="this.ob$" (click)="archive()">
                <mat-icon>archive</mat-icon>
                Workflow archivieren
            </button>
        </div>
        }

        @if (isArchived) {
        <div class="action-group">
            <h3>Archiviert</h3>
            <button mat-raised-button class="primary-button" [disabled]="loading" (click)="duplicate()">
                <mat-icon>content_copy</mat-icon>
                Als neuen Entwurf duplizieren
            </button>
        </div>
        }
    </mat-card-content>
</mat-card>