AUTH=true                                                   # if an authorization service is provided
AUTH_API=http://localhost:3002                              # this variable is used for the shipped token authorization service and expects there an endpoint /auth/publickey where the jwt tokens can be verified

APP_PORT=3000                                               # the port to run the backend

APP_SSL=false                                               # if SSL should be used for the backend, when true, the other APP_SSL variables have to be set 
APP_SSL_KEY=/etc/ssl/<host>/<host>.key                      # path to private key file
APP_SSL_PUB=/etc/ssl/<host>/<host>.crt                      # path to certificate file
APP_SSL_CHAIN=/etc/ssl/<host>chain.crt                      # path to certificate authorities file
APP_SSL_PASSPHRASE=<passphrase>                             # the passphrase of the private key file

APP_CORS_ORIGINS=https://<host>,http://localhost:4200       # this has to be the set to the frontend servers that send POST, PUT or DELETE requests to the backend

APP_BASE_PATH=                                              # the path of the backend on the server, this variable is only required for using the Swagger to interact with the backend if a reverse proxy is used 

DATABASE_DROPSCHEMA=false                                   # if the DB schema should be dropped at every start of the application (usually for testing purposes)
DATABASE_TYPE=postgres                                      # DBMS type, cf. https://typeorm.io/ for supported types
DATABASE_HOST=heimdall.ub.ovgu.de                           # DBMS server
DATABASE_PORT=5432                                          # DBMS port
DATABASE_NAME=<database>                                    # DB name
DATABASE_USER=<username>                                    # DB user
DATABASE_PASSWORD=<password>                                # DB password

LOG_PATH=./log/                                             # path to which reports are saved (at least the parent dir has to exist)
CONFIG_PATH=./config/                                       # path for config files such as CSV/XLS mappings

authorization_service=./src/authorization/token.authorization.service.ts
authorization_export=TokenAuthorizationService