## AUTHORIZATION ##

# if an authorization service is provided
AUTH=true                                

# this variable is used for the shipped token authorization service and expects there an endpoint /auth/publickey where the jwt tokens can be verified
AUTH_API=http://localhost:3002      

# the path and the name of the class implementing AuthorizationService
AUTH_SERVICE_PATH=./src/authorization/token.authorization.service.ts
AUTH_SERVICE_EXPORT=TokenAuthorizationService

## APPLICATION ##

# the port to run the backend
APP_PORT=3003                      

# if SSL should be used for the backend, when true, the other APP_SSL variables have to be set
APP_SSL=false                                                
APP_SSL_KEY=/etc/ssl/<host>/<host>.key                      # path to private key file
APP_SSL_PUB=/etc/ssl/<host>/<host>.crt                      # path to certificate file
APP_SSL_CHAIN=/etc/ssl/<host>chain.crt                      # path to certificate authorities file
APP_SSL_PASSPHRASE=<passphrase>                             # the passphrase of the private key file

# this has to be the set to the frontend servers that send POST, PUT or DELETE requests to the backend
APP_CORS_ORIGINS=https://<host>,http://localhost:4200       

# the path of the backend on the server, this variable is only required for using the Swagger to interact with the backend if a reverse proxy is used 
APP_BASE_PATH=/api

# path to which reports are saved (at least the parent dir has to exist)
APP_LOG_PATH=./log/                                          

# path for config files such as CSV/XLS mappings
APP_CONFIG_PATH=./config/                                    

## DATABASE ##

# if the DB schema should be dropped at every start of the application (usually for testing purposes)
DATABASE_DROPSCHEMA=false                           

# DBMS type, cf. https://typeorm.io/ for supported types
DATABASE_TYPE=postgres                                      

# DBMS server and port
# if you use docker locally, use host.docker.internal instead of localhost
DATABASE_HOST=database.de                                   
DATABASE_PORT=5432                                         

# DB Name, user and password
DATABASE_NAME=<database>                                    
DATABASE_USER=<username>                                    
DATABASE_PASSWORD=<password>               

## SECRETS ##

# email address to be send with a request for accessing the high priory server
SECRET_UNPAYWALL=xxx@xxx.de

# API key for open access monitor (can be requested)
SECRET_OAM=xxxx

# API key for Scopus (can be requested if licensed)
SECRET_SCOPUS=xxxx