AUTH_API=http://localhost:3002
AUTH=true

APP_PORT=3000
APP_SSL=false
APP_SSL_KEY=/etc/ssl/<host>/<host>.key
APP_SSL_PUB=/etc/ssl/<host>/<host>.crt
APP_SSL_CHAIN=/etc/ssl/<host>chain.crt
APP_SSL_PASSPHRASE=<passphrase>
APP_CORS_ORIGINS=https://<host>,http://localhost:4200

APP_BASE_PATH=

DATABASE_DROPSCHEMA=false
DATABASE_TYPE=postgres
DATABASE_HOST=heimdall.ub.ovgu.de
DATABASE_PORT=5432
DATABASE_NAME=<database>
DATABASE_USER=<username>
DATABASE_PASSWORD=<password>

LOG_PATH=./log/
CONFIG_PATH=./config/
