<mat-toolbar color="primary" style="display: flex;justify-content: space-between;">
    <h1>{{this.name}}</h1>
    <div style="display: flex;justify-content: flex-end;">
        <div *ngIf="!this.disabled; else else1">
            <button mat-icon-button (click)="this.action()" [matTooltip]="this.name + ' speichern'"
                [matTooltipShowDelay]="800"><mat-icon>save</mat-icon></button>
            <button mat-icon-button (click)="this.abort()" matTooltip="Abbrechen"
                [matTooltipShowDelay]="800"><mat-icon>close</mat-icon></button>
        </div>
        <ng-template #else1>
            <button mat-icon-button (click)="this.close()" matTooltip="Schließen"
                [matTooltipShowDelay]="800"><mat-icon>close</mat-icon></button>
        </ng-template>
    </div>
</mat-toolbar>
<mat-dialog-content>
    <form style="display: flex; flex-direction: column;justify-content: space-evenly;" [formGroup]="form"
        (ngSubmit)="this.action()">
        <ng-container *ngFor="let field of this.fields; let i = index;">
            <div [ngSwitch]="field.type">
                <mat-checkbox *ngSwitchCase="'boolean'" [formControlName]="field.key">{{field.title}}</mat-checkbox>

                <mat-expansion-panel *ngSwitchCase="'alias_table'">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Aliase
                        </mat-panel-title>
                        <mat-panel-description>
                            Werden beim Import auf diese(s) {{this.name}} abgebildet
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table *ngIf="this.entity?.aliases && this.entity.aliases.length>0" mat-table
                        [dataSource]="this.entity.aliases">
                        <ng-container matColumnDef="alias">
                            <th mat-header-cell *matHeaderCellDef> Alias </th>
                            <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                    (click)="this.deleteAlias(element)" matTooltip="Alias löschen"
                                    [hidden]="this.disabled"><mat-icon>delete</mat-icon></button> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['alias','delete']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['alias','delete'];"></tr>
                    </table>
                    <form [formGroup]="aliasForm" style="display: flex;gap:5px">
                        <mat-form-field appearance="fill">
                            <mat-label>Alias</mat-label>
                            <input matInput placeholder="Alias" formControlName="alias" />
                        </mat-form-field>
                        <button matSuffix mat-icon-button type="button" (click)="this.addAlias()"
                            matTooltip="Alias hinzufügen" [hidden]="this.disabled"><mat-icon>add</mat-icon></button>
                    </form>
                </mat-expansion-panel>

                <mat-expansion-panel *ngSwitchCase="'doi_table'">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            DOI-Präfixe
                        </mat-panel-title>
                        <mat-panel-description>
                            Institutionsteil der DOI beginnend mit 10. bis zum /
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table #table_doi *ngIf="this.entity?.doi_prefixes && this.entity.doi_prefixes.length>0" mat-table
                        [dataSource]="this.entity.doi_prefixes">
                        <ng-container matColumnDef="doi_prefix">
                            <th mat-header-cell *matHeaderCellDef> Präfix </th>
                            <td mat-cell *matCellDef="let element"> {{element.doi_prefix}} </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                    (click)="this.deletePrefix(element)" matTooltip="Präfix löschen"
                                    [hidden]="this.disabled"><mat-icon>delete</mat-icon></button> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['doi_prefix','delete']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['doi_prefix','delete'];"></tr>
                    </table>
                    <form [formGroup]="prefixForm" style="display: flex;gap:5px">
                        <mat-form-field appearance="fill">
                            <mat-label>DOI-Prefix</mat-label>
                            <input matInput placeholder="10." formControlName="doi_prefix" />
                        </mat-form-field>
                        <button matSuffix mat-icon-button type="button" (click)="this.addPrefix()"
                            matTooltip="Präfix hinzufügen" [hidden]="this.disabled"><mat-icon>add</mat-icon></button>
                    </form>
                </mat-expansion-panel>

                <mat-card *ngSwitchCase="'id_table'">
                    <mat-card-header><mat-card-subtitle>Identifikatoren</mat-card-subtitle></mat-card-header>
                    <mat-card-content>
                        <table *ngIf="this.entity?.identifiers && this.entity.identifiers.length>0" mat-table
                            [dataSource]="this.entity.identifiers">
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Art </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>

                            <ng-container matColumnDef="value">
                                <th mat-header-cell *matHeaderCellDef> Wert </th>
                                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element"> <button matSuffix mat-icon-button type="button"
                                        (click)="this.deleteId(element)" matTooltip="Identifikator löschen"
                                        [hidden]="this.disabled"><mat-icon>delete</mat-icon></button> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['type', 'value', 'delete']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['type', 'value', 'delete'];"></tr>
                        </table>
                    </mat-card-content>
                    <mat-card-actions>
                        <form [formGroup]="idForm" style="display: flex;gap:5px">
                            <mat-form-field appearance="fill">
                                <mat-label>Art</mat-label>
                                <input matInput placeholder="Art" formControlName="type" />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Wert</mat-label>
                                <input matInput placeholder="Wert" formControlName="value" />
                            </mat-form-field>
                            <button matSuffix mat-icon-button type="button" (click)="this.addId()"
                                matTooltip="Identifikator hinzufügen"
                                [hidden]="this.disabled"><mat-icon>add</mat-icon></button>
                        </form>
                    </mat-card-actions>
                </mat-card>

                <app-select-entity *ngSwitchCase="'publisher'" name="Verlag" [disabled]="this.disabled"
                    [serviceClass]="this.publisherService" [formComponent]="this.publisherForm"
                    (selected)="this.setPublisher($event)"
                    [ent]="this.entity? this.entity['publisher'] : undefined"></app-select-entity>

                <mat-form-field *ngSwitchCase="'date'">
                    <mat-label>{{field.title}}</mat-label>
                    <input matInput [matDatepicker]="i" [formControlName]="field.key">
                    <mat-hint>T.M.JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="i"></mat-datepicker-toggle>
                    <mat-datepicker #i [startAt]="this.entity && this.entity[field.key]? this.entity[field.key] : today"
                        startView="year" color="accent"></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngSwitchDefault>
                    <mat-label>{{field.title}}</mat-label>
                    <input *ngIf="field.type === 'number'" matInput [type]="'number'" [placeholder]="field.title"
                        [formControlName]="field.key" />
                    <ng-container *ngIf="field.type === 'status'">
                        <input matInput [type]="'number'" [placeholder]="field.title" [formControlName]="field.key" />
                        @if (this.form.errors?.status_pattern) {
                        <mat-error>Der Status muss eine nicht-negative Zahl sein</mat-error>
                        }
                        @if (this.form.errors?.status_required) {
                        <mat-error>Der Status muss angeben werden</mat-error>
                        }
                        @if (this.form.errors?.status_notUnique) {
                        <mat-error>Der Status muss eindeutig sein, diese Zahl wird bereits verwendet</mat-error>
                        }
                    </ng-container>
                    <input *ngIf="!field.type" matInput [placeholder]="field.title" [formControlName]="field.key" />
                </mat-form-field>
            </div>
        </ng-container>
    </form>
</mat-dialog-content>