<h1 mat-dialog-title>
    Publikation automatisch hinzufügen
</h1>
<mat-dialog-content>
    <div class="container-fluid" style="padding: 5px;" [formGroup]="form">
        <mat-form-field style="width: 100%;">
            <mat-label>DOI</mat-label>
            <input matInput formControlName="doi"/>
        </mat-form-field>
        <br />
        <div style="display: flex; flex-flow: row wrap; justify-content: space-between ;">
            <button mat-raised-button  class="primary-button" class="btn-primary" (click)="action()">Publikation importieren</button>
            <button mat-raised-button  class="secondary-button" (click)="manual()">Publikation manuell hinzufügen</button>
            <button mat-raised-button  class="primary-button" class="btn-primary" (click)="abort()">Abbrechen</button>
        </div>
    </div>
</mat-dialog-content>