<h2 mat-dialog-title>
    Publikationen löschen
  </h2>
  
  <mat-dialog-content>
    Möchten Sie {{data.pubs.length}} Publikationen löschen, dies kann nicht rückgängig gemacht werden?
    <br>
  <mat-checkbox [(ngModel)]="soft" matTooltip="D.h. diese Publikation(en) werden bei künftigen Imports ignoriert" *ngIf="!this.data.soft">
    Soft-Delete
  </mat-checkbox>
  </mat-dialog-content>

  
  <mat-dialog-actions>
    <button mat-raised-button color="primary" class="btn-primary" (click)="onDismiss()">Nein</button>
    <button mat-raised-button color="primary" class="btn-primary" (click)="onConfirm()">Ja</button>
  </mat-dialog-actions>
